@charset "utf-8";
/* CSS Document */
*{box-sizing: border-box}
body{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"; font-size: 16px; color: #666666; margin: 0px
}
.banner{
	width: 100%;height: auto
}
.contrainer{
	width: 80%;margin: 0 auto
}
.header{
	width: 100%;height: 60px;background-color: #F45D0D;
}
.logo{
	float: left
}
.menu{
	float: right;padding-top: 18px
}
.menu a{
	padding: 10px 20px; font-size: 17px; text-decoration: none; color: white; font-weight: bold
}
main{
	width: 100%;min-height: 750px;clear: both
}
.khung{
	width: 25%; padding: 15px;float: left
}
.vien{
	width: 100%;min-height: px;border: 1px solid #4774EF; border-radius: 10px; padding: 10px; text-align: center
}
.bogoc{
	border-radius: 10px 
}
.tour{
	color: blue;font-size: 15px;text-align: center
}
.gia{
	color: red; font-weight: bold; text-align: center; font-size: 12px
}
footer{
	width: 100%;height: 50px;background-color: orange;clear: both; text-align: center; font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif'; font-size: 16px; color: white;line-height: 50px
}
.textxanh{
	color: blue
}
.w-40{
	width: 40%;min-height: 400px; padding: 15px;float: left
}
.w-60{
	width: 60%;min-height: 400px;padding: 15px;float: right
}
.vienxam{
	border: 1px solid gray; min-height: 300px;border-radius: 5px;padding: 10px;margin-bottom: 15px
}